.cart{
  width: 100%;
  width: 350px;
  background-color: white;
  height: 100vh;
  position: fixed;
  top:0;
  right: 0;
  padding: 100px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translate(110%, 0);
  transition: all 400ms ease;
}
.cart-itens{
  flex-grow: 1;
  overflow: auto;
}
.cart-resume{
  font-size: 1.8rem;
  font-weight: 500;
  padding: 35px 0;
  border-top: 1 solid #ddd;
}
.cart-itens .cart-item:last-child{
 border-bottom: none;
}
.cart--active{
  transform: translate(0, 0);
}